* {
  box-sizing: border-box;
  margin: 0;
}
body {
 
  justify-content: center;
  background-color: aquamarine;
  color: navy;
  font-family: Oswald, sans-serif;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;  
}